body{
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-verde-de-grama-falsa_53876-16313.jpg?t=st=1740444894~exp=1740448494~hmac=bd6c2bc3af801936bc78e902a541d764c152a395c40717012da8261ced0bbae8&w=1060");
	height: 100vh;
	width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    height: 100vh;
	width: 100%;
}

nav{
    background-image: url("https://images.unsplash.com/photo-1607433299953-b1c5cf96e0d5?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.navbar{
    height: 60px;
}

.card-text{
    padding: 10px;
    margin: 10px;
}
.card-title{
    padding: 6px;
    margin: 6px;
}

footer{
    background-image: url("https://images.unsplash.com/photo-1607433299953-b1c5cf96e0d5?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/*css login*/

.wrapper {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
    width: 100%;
    max-width: 360px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

#formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img#icon {
    width: 80px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    background: #81c784;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #81c784;
}

#formFooter {
    margin-top: 15px;
}

.underlineHover {
    color: #007bff;
    text-decoration: none;
}

.underlineHover:hover {
    text-decoration: underline;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Mantém o nav sempre acima do conteúdo */
}
section.container-fluid {
    padding-bottom: 200px; /* Ajuste conforme necessário */
    margin-top: 100px;
    height: 100vh;
	width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}